<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-bitacora-heading" data-cy="BitacoraCreateUpdateHeading">Crear o editar Bitacora</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tabla">Tabla</label>
          <input type="text" class="form-control" name="tabla" id="field_tabla" data-cy="tabla" formControlName="tabla" />
          <div *ngIf="editForm.get('tabla')!.invalid && (editForm.get('tabla')!.dirty || editForm.get('tabla')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tabla')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_accion">Accion</label>
          <input type="text" class="form-control" name="accion" id="field_accion" data-cy="accion" formControlName="accion" />
          <div *ngIf="editForm.get('accion')!.invalid && (editForm.get('accion')!.dirty || editForm.get('accion')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('accion')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_creado">Creado</label>
          <div class="d-flex">
            <input
              id="field_creado"
              data-cy="creado"
              type="datetime-local"
              class="form-control"
              name="creado"
              formControlName="creado"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('creado')!.invalid && (editForm.get('creado')!.dirty || editForm.get('creado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('creado')?.errors?.required"> Este campo es obligatorio. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('creado')?.errors?.datetimelocal">
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_usuario">Usuario</label>
          <select
            class="form-control"
            id="field_usuario"
            data-cy="usuario"
            name="usuario"
            formControlName="usuario"
            [compareWith]="compareUsuario"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="usuarioOption" *ngFor="let usuarioOption of usuariosSharedCollection">{{ usuarioOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_proyecto">Proyecto</label>
          <select
            class="form-control"
            id="field_proyecto"
            data-cy="proyecto"
            name="proyecto"
            formControlName="proyecto"
            [compareWith]="compareProyecto"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="proyectoOption" *ngFor="let proyectoOption of proyectosSharedCollection">{{ proyectoOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
