<div>
  <div>
    <span> <a class="text-decoration-none" [routerLink]="''">Proyectos</a> </span> <i class="bi bi-chevron-right"></i>
    <span>{{ nombreProyecto }} </span> <i class="bi bi-chevron-right"></i> <span>Iteraciones</span>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-3 col-sm-12">
      <span class="fs-4 align-self-start">Iteraciones </span>
    </div>

    <div class="col-md-9 d-flex justify-content-end col-sm-12 mb-3">
      <button class="btn btn-secondary me-2" [routerLink]="'/proyecto/' + proyectoId + '/participacion'">
        <i class="bi bi-person-add"></i>
        <span>Administrar Usuarios</span>
      </button>

      <button class="btn btn-info me-2" (click)="sincronizar()" [disabled]="isSync">
        <fa-icon icon="sync" [spin]="isSync"></fa-icon>
        <span>Sincronizar con GitLab</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN']"
        class="btn btn-secondary me-2"
        [routerLink]="'/iteracion/importar/proyecto/' + proyectoId"
      >
        <span><i class="bi bi-upload"></i> Carga Excel</span>
      </button>
      <button *jhiHasAnyAuthority="['ROLE_ADMIN']" class="btn btn-secondary me-2" (click)="descargarExcel(proyectoId!)">
        <span><i class="bi bi-download"></i> Descargar Excel</span>
      </button>

      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-iteracion"
        [routerLink]="'/iteracion/new/' + proyectoId"
      >
        <span> Nueva Iteración </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="iteracions?.length === 0">
    <span>Ningún Iteracions encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="iteracions && iteracions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span>Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inicio">
            <div class="d-flex">
              <span>Inicio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fin">
            <div class="d-flex">
              <span>Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let iteracion of iteracions; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ iteracion.id }}
          </td>

          <td>
            <a [routerLink]="['/funcionalidad/proyecto/' + proyectoId + '/iteracion/' + iteracion.id]">
              <span class="badge fs-5" style="background-color: #0d532a">{{ iteracion.nombre }}</span>
            </a>
          </td>

          <td>{{ iteracion.inicio | formatMediumDate }}</td>
          <td>{{ iteracion.fin | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                [routerLink]="['/funcionalidad/proyecto/' + proyectoId + '/iteracion/' + iteracion.id]"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vista</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                [routerLink]="['/iteracion', iteracion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                (click)="delete(iteracion)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
