<div>
  <h2 id="page-heading" data-cy="EtiquetaHeading">
    <span>Etiquetas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etiqueta"
        [routerLink]="['/etiqueta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Etiqueta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etiquetas?.length === 0">
    <span>Ningún Etiquetas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="etiquetas && etiquetas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span>Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="color">
            <div class="d-flex">
              <span>Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="funcionalidad.id">
            <div class="d-flex">
              <span>Funcionalidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etiqueta of etiquetas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etiqueta', etiqueta.id, 'view']">{{ etiqueta.id }}</a>
          </td>
          <td>{{ etiqueta.nombre }}</td>
          <td>{{ etiqueta.color }}</td>
          <td>
            <div *ngIf="etiqueta.funcionalidad">
              <a [routerLink]="['/funcionalidad', etiqueta.funcionalidad.id, 'view']">{{ etiqueta.funcionalidad.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etiqueta', etiqueta.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etiqueta', etiqueta.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(etiqueta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
