<div class="border rounded border-secondary mb-3">
  <div class="p-1 bg-secondary bg-opacity-10 rounded-top">
    <div class="pl-3">Comentarios <i class="bi bi-chat"></i> {{ comentarios?.length ?? '0' }}</div>
  </div>
  <table *ngIf="comentarios" class="table mb-0">
    <tbody>
      <tr *ngFor="let comentario of comentarios">
        <td>
          <i class="bi bi-person-circle"></i> {{ comentario.user?.firstName }} · {{ comentario.creado | formatMediumDate }}
          <p class="text-white-50 mt-1">
            {{ comentario.mensaje }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-grid">
    <button class="btn btn-secondary">Nuevo comentario</button>
  </div>
</div>
