<div class="border rounded border-secondary mb-3">
  <div class="p-1 bg-secondary bg-opacity-10 rounded-top">
    <div class="pl-3">Comentarios <i class="bi bi-chat"></i> {{ comentarios?.length ?? '0' }}</div>
  </div>
  <table *ngIf="comentarios" class="table mb-0">
    <tbody>
      <tr *ngFor="let comentario of comentarios">
        <td>
          <i class="bi bi-person-circle"></i> {{ comentario.user?.firstName }} · {{ comentario.creado | formatMediumDatetime }}
          <p class="text-white-50 mt-1">
            {{ comentario.mensaje }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-grid">
    <button (click)="puedeComentar = !puedeComentar" class="btn btn-secondary">
      <ng-container *ngIf="!puedeComentar"> <i class="bi bi-chevron-down"></i> Nuevo comentario </ng-container>
      <ng-container *ngIf="puedeComentar"> <i class="bi bi-chevron-up"></i> Cancelar comentario </ng-container>
    </button>

    <form *ngIf="puedeComentar" class="d-grid p-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Mensaje</label>
        <textarea class="form-control" formControlName="mensaje" cols="30" rows="10" placeholder="tu comentario..."></textarea>
      </div>

      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="myForm.invalid || isSaving"
        class="btn btn-primary btn-block"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
      </button>
    </form>
  </div>
</div>
