<div class="">
  <div>
    <span> <em class="bi bi-arrow-left"></em> <a (click)="previousState()">Atras</a> </span> <em class="bi bi-chevron-right"></em>
    <span>Importar Excel</span>
  </div>
  <hr />
  <h4>Actualizar Funcionalidades en proyecto (# {{ proyectId }})</h4>
  <div class="d-flex mt-4">
    <div class="m-auto mt-4 text-center">
      <div *ngIf="enviadoCorrecto" class="alert alert-success" role="alert">
        Se han guardado correctamente {{ registros }} funcionalidades.
      </div>
      <div *ngIf="faltaArchivo" class="alert alert-danger" role="alert">Aun no se ha seleccionado una plantilla válida.</div>

      <h4 class="mb-4">Las funcionalidades representan un requisito funcional dentro del sistema</h4>
      <form name="importForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="importForm" enctype="multipart/form-data">
        <input
          (change)="onFileSelected($event)"
          [required]="true"
          type="file"
          class="form-control"
          name="file"
          id="file"
          data-cy="file"
          formControlName="file"
        />
        <input [disabled]="enviado" class="btn btn-primary mt-3" type="submit" value="Importar" />
      </form>

      <hr />
    </div>
  </div>
</div>
