<div>
  <h2 id="page-heading" data-cy="FuncionalidadHeading">
    <span>Funcionalidads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-funcionalidad"
        [routerLink]="['/funcionalidad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Funcionalidad </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="funcionalidads?.length === 0">
    <span>Ningún Funcionalidads encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="funcionalidads && funcionalidads.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span>Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span>Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="urlGitLab">
            <div class="d-flex">
              <span>Url Git Lab</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaEntrega">
            <div class="d-flex">
              <span>Fecha Entrega</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creado">
            <div class="d-flex">
              <span>Creado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modificado">
            <div class="d-flex">
              <span>Modificado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estatusFuncionalidad.id">
            <div class="d-flex">
              <span>Estatus Funcionalidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="iteracion.id">
            <div class="d-flex">
              <span>Iteracion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prioridad.id">
            <div class="d-flex">
              <span>Prioridad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionalidad of funcionalidads; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/funcionalidad', funcionalidad.id, 'view']">{{ funcionalidad.id }}</a>
          </td>
          <td>{{ funcionalidad.nombre }}</td>
          <td>{{ funcionalidad.descripcion }}</td>
          <td>{{ funcionalidad.urlGitLab }}</td>
          <td>{{ funcionalidad.fechaEntrega | formatMediumDate }}</td>
          <td>{{ funcionalidad.creado | formatMediumDatetime }}</td>
          <td>{{ funcionalidad.modificado | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="funcionalidad.estatusFuncionalidad">
              <a [routerLink]="['/estatus-funcionalidad', funcionalidad.estatusFuncionalidad.id, 'view']">{{
                funcionalidad.estatusFuncionalidad.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="funcionalidad.iteracion">
              <a [routerLink]="['/iteracion', funcionalidad.iteracion.id, 'view']">{{ funcionalidad.iteracion.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="funcionalidad.prioridad">
              <a [routerLink]="['/prioridad', funcionalidad.prioridad.id, 'view']">{{ funcionalidad.prioridad.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etiqueta']"
                [queryParams]="{ 'filter[funcionalidadId.in]': funcionalidad.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Show Etiqueta</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/atributo-funcionalidad']"
                [queryParams]="{ 'filter[funcionalidadId.in]': funcionalidad.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Show Atributo Funcionalidad</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comentario']"
                [queryParams]="{ 'filter[funcionalidadId.in]': funcionalidad.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Show Comentario</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/funcionalidad', funcionalidad.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/funcionalidad', funcionalidad.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(funcionalidad)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="funcionalidads && funcionalidads.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
