<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="funcionalidad">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="d-flex justify-content-between">
        <div>
          <span class="text-white-50">
            <a (click)="previousState()"> <i class="bi bi-arrow-left"></i> Atrás </a> <i class="bi bi-chevron-right"></i>&nbsp;
          </span>
          <span>{{ funcionalidad.id }}</span>
        </div>
        <span>
          <button
            *jhiHasAnyAuthority="['ROLE_ADMIN']"
            [routerLink]="'/funcionalidad/' + funcionalidad.id + '/edit'"
            class="btn btn-secondary"
          >
            Editar
          </button>
          <a target="”_blank”" *ngIf="funcionalidad.nombre" class="btn btn-primary" [attr.href]="slugify(funcionalidad.nombre)">
            Ir a GitLab
          </a>
        </span>
      </div>

      <hr />
      <div class="justify-content-between d-lg-flex">
        <div>
          <span class="text-white-50">Creado en </span> <span>{{ funcionalidad.creado | formatMediumDate }} </span>
        </div>
        <div>
          <span *ngIf="funcionalidad.prioridad" class="badge text-bg-success">{{ funcionalidad.prioridad }}</span>
        </div>
      </div>

      <hr />

      <h4>
        {{ funcionalidad.nombre }}

        <span *ngIf="funcionalidad.iteracion" class="badge bg-badge-primario">{{ funcionalidad.iteracion.nombre }}</span>
        <span *ngIf="funcionalidad.estatusFuncionalidad" class="badge bg-badge-secundario">{{ funcionalidad.estatusFuncionalidad }}</span>
      </h4>
      <div class="mb-2">
        <span class="text-white-50"> Asignado a </span>
        <ng-container *ngIf="funcionalidad.users">
          <span *ngFor="let user of funcionalidad.users"> [ <i class="bi bi-person-circle"></i> {{ user.firstName }}] </span>
        </ng-container>
      </div>
      <p>{{ funcionalidad.descripcion }}</p>

      <!-- Atributos destacados -->
      <jhi-atributo-funcionalidad-list-by-funcion-id [destacados]="true"></jhi-atributo-funcionalidad-list-by-funcion-id>

      <!-- Comentarios -->
      <jhi-list-by-id></jhi-list-by-id>

      <!-- Atributos auxilares -->
      <jhi-atributo-funcionalidad-list-by-funcion-id [destacados]="false"></jhi-atributo-funcionalidad-list-by-funcion-id>

      <!-- Actividad -->

      <h4>Actividad</h4>

      <div>
        Última Actualización: <span class="text-white-50"> {{ funcionalidad.modificado | formatMediumDatetime }} </span>
      </div>

      <jhi-bitacora-by-funcionalidad [funcionalidadId]="funcionalidad.id"></jhi-bitacora-by-funcionalidad>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN']"
        type="button"
        [routerLink]="['/funcionalidad', funcionalidad.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
