<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="funcionalidad">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="d-flex justify-content-between">
        <div>
          <span class="text-white-50">
            <a [routerLink]="['/funcionalidad']">Funcionalidad </a> <i class="bi bi-chevron-right"></i>&nbsp;
          </span>
          <span>{{ funcionalidad.id }}</span>
        </div>
        <span> <a target="”_blank”" class="btn btn-primary" [attr.href]="funcionalidad.urlGitLab"> Ir a GitLab </a> </span>
      </div>

      <hr />
      <div class="d-flex justify-content-between">
        <div>
          <span class="text-white-50">Creado en </span> <span>{{ funcionalidad.creado | formatMediumDate }} </span>
        </div>
        <div>
          <span class="text-white-50"> Asignado a </span>
          <ng-container *ngIf="funcionalidad.users">
            <span *ngFor="let user of funcionalidad.users"> {{ user.firstName }} </span>
          </ng-container>
          <span class="text-white-50">&nbsp; - Límite &nbsp;</span>
          <span> {{ funcionalidad.fechaEntrega | formatMediumDate }} </span>
        </div>
      </div>

      <hr />

      <h4>
        {{ funcionalidad.nombre }}

        <span *ngIf="funcionalidad.iteracion" class="badge bg-badge-primario">{{ funcionalidad.iteracion.nombre }}</span>
        <span *ngIf="funcionalidad.estatusFuncionalidad" class="badge bg-badge-secundario">{{
          funcionalidad.estatusFuncionalidad.nombre
        }}</span>
      </h4>

      <p>{{ funcionalidad.descripcion }}</p>

      <h4>Atributos destacados</h4>
      <div class="d-block pb-3">
        <div><i class="bi bi-star"></i> Atributo 1 :<span class="text-white-50"> Valor</span></div>
        <div><i class="bi bi-star"></i> Atributo 1 :<span class="text-white-50"> Valor</span></div>
        <div><i class="bi bi-star"></i> Atributo 1 :<span class="text-white-50"> Valor</span></div>
      </div>

      <jhi-etiqueta-list-by-funcional-id></jhi-etiqueta-list-by-funcional-id>

      <!-- Comentarios -->

      <jhi-list-by-id></jhi-list-by-id>

      <!-- Atributos auxilares -->
      <div class="border rounded border-secondary mb-3">
        <div class="p-1 bg-secondary bg-opacity-10 rounded-top">
          <div class="pl-3">Atributos Auxiliares <i class="bi bi-bookmarks"></i> 3</div>
        </div>
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Clave</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Valor</td>
              <td>Clave</td>
            </tr>
            <tr>
              <td>Valor</td>
              <td>Clave</td>
            </tr>
            <tr>
              <td>Valor</td>
              <td>Clave</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Actividad -->

      <h4>Actividad</h4>
      <div>
        Última Actualización: <span class="text-white-50"> {{ funcionalidad.modificado | formatMediumDatetime }} </span>
      </div>
      <div class="d-block pb-3">
        <div><i class="bi bi-person-circle"></i> Usuario :<span class="text-white-50"> Realizó </span> Actividad</div>
        <div><i class="bi bi-person-circle"></i> Usuario :<span class="text-white-50"> Realizó </span> Actividad</div>
        <div><i class="bi bi-person-circle"></i> Usuario :<span class="text-white-50"> Realizó </span> Actividad</div>
      </div>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ funcionalidad.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ funcionalidad.nombre }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ funcionalidad.descripcion }}</span>
        </dd>
        <dt><span>Url Git Lab</span></dt>
        <dd>
          <span>{{ funcionalidad.urlGitLab }}</span>
        </dd>
        <dt><span>Fecha Entrega</span></dt>
        <dd>
          <span>{{ funcionalidad.fechaEntrega | formatMediumDate }}</span>
        </dd>
        <dt><span>Creado</span></dt>
        <dd>
          <span>{{ funcionalidad.creado | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modificado</span></dt>
        <dd>
          <span>{{ funcionalidad.modificado | formatMediumDatetime }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span *ngFor="let user of funcionalidad.users; let last = last"> {{ user.id }}{{ last ? '' : ', ' }} </span>
        </dd>
        <dt><span>Estatus Funcionalidad</span></dt>
        <dd>
          <div *ngIf="funcionalidad.estatusFuncionalidad">
            <a [routerLink]="['/estatus-funcionalidad', funcionalidad.estatusFuncionalidad.id, 'view']">{{
              funcionalidad.estatusFuncionalidad.id
            }}</a>
          </div>
        </dd>
        <dt><span>Iteracion</span></dt>
        <dd>
          <div *ngIf="funcionalidad.iteracion">
            <a [routerLink]="['/iteracion', funcionalidad.iteracion.id, 'view']">{{ funcionalidad.iteracion.id }}</a>
          </div>
        </dd>
        <dt><span>Prioridad</span></dt>
        <dd>
          <div *ngIf="funcionalidad.prioridad">
            <a [routerLink]="['/prioridad', funcionalidad.prioridad.id, 'view']">{{ funcionalidad.prioridad.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/funcionalidad', funcionalidad.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
