<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="participacionProyecto">
      <h2 data-cy="participacionProyectoDetailsHeading"><span>Participacion Proyecto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ participacionProyecto.id }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ participacionProyecto.user?.id }}</span>
        </dd>
        <dt><span>Proyecto</span></dt>
        <dd>
          <div *ngIf="participacionProyecto.proyecto">
            <a [routerLink]="['/proyecto', participacionProyecto.proyecto.id, 'view']">{{ participacionProyecto.proyecto.id }}</a>
          </div>
        </dd>
        <dt><span>Rol</span></dt>
        <dd>
          <div *ngIf="participacionProyecto.rol">
            <a [routerLink]="['/rol', participacionProyecto.rol.id, 'view']">{{ participacionProyecto.rol.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/participacion-proyecto', participacionProyecto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
