<ng-container *ngIf="destacados">
  <h4>Atributos destacados</h4>
  <div class="d-block pb-3">
    <div *ngFor="let atributosFuncionalidad of atributosFuncionalidads">
      <ng-container *ngIf="atributosFuncionalidad.marcado">
        <div class="hover-to-display">
          <em class="bi bi-star"></em> {{ atributosFuncionalidad.atributo?.nombre }} :<span
            *jhiHasAnyAuthority="['ROLE_ADMIN']"
            class="text-white-50 hover-to-display"
          >
            {{ atributosFuncionalidad.valor }}
            <span class="hover-display text-white">
              <a [routerLink]="'/atributo-funcionalidad/' + atributosFuncionalidad.id + '/edit'"> <em class="bi bi-pencil-fill"></em> </a>
              | <a (click)="delete(atributosFuncionalidad)"> <em class="bi bi-trash3-fill"></em> </a>
            </span>
          </span>
        </div>
      </ng-container>
    </div>
    <a *jhiHasAnyAuthority="['ROLE_ADMIN']" [routerLink]="'/atributo-funcionalidad/new/funcionalidad/' + funcionId" class="underline">
      <em class="bi bi-plus"></em> Añadir Nuevo :<span class="text-white-50"> Atributo</span>
    </a>
  </div>
</ng-container>

<ng-container *ngIf="!destacados">
  <div class="border rounded border-secondary mb-3">
    <div class="p-1 bg-secondary bg-opacity-10 rounded-top">
      <div class="pl-3">Atributos Auxiliares <em class="bi bi-bookmarks"></em> {{ atributosFuncionalidads?.length ?? '0' }}</div>
    </div>
    <table class="table mb-0" aria-describedby="atributos clave valor">
      <thead>
        <tr>
          <th>Clave</th>
          <th>Valor</th>
          <th *jhiHasAnyAuthority="['ROLE_ADMIN']"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let atributosFuncionalidad of atributosFuncionalidads">
          <tr *ngIf="!atributosFuncionalidad.marcado">
            <td>{{ atributosFuncionalidad.atributo?.nombre }}</td>
            <td>{{ atributosFuncionalidad.valor }}</td>
            <td *jhiHasAnyAuthority="['ROLE_ADMIN']">
              <span class="">
                <a [routerLink]="'/atributo-funcionalidad/' + atributosFuncionalidad.id + '/edit'"> <em class="bi bi-pencil-fill"></em> </a>
                | <a (click)="delete(atributosFuncionalidad)"> <em class="bi bi-trash3-fill"></em> </a>
              </span>
            </td>
          </tr>
        </ng-container>
        <tr *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <td colspan="2">
            <a [routerLink]="'/atributo-funcionalidad/new/funcionalidad/' + funcionId" class="underline">
              <em class="bi bi-plus"></em> Nuevo Atributo auxiliar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
