<div>
  <h3>Usuarios en proyecto #1</h3>

  <div class="row">
    <div class="col-sm-6">
      <h5>Todos los usuarios</h5>
      <button (click)="agregarUsuarios()" class="btn btn-primary">Incluir al proyecto <i class="bi bi-arrow-bar-right"></i></button>
      <table class="table">
        <thead>
          <tr>
            <td>Check</td>
            <td>#</td>
            <td>Login</td>
            <td>Nombre</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td><input [checked]="usuario.check" (click)="checked2(usuario.id)" type="checkbox" name="" id="" /></td>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.login }}</td>
            <td>{{ usuario.firstName + ' ' + usuario.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h5>Usuarios en el Proyecto</h5>
      <button (click)="quitarUsuarios()" class="btn btn-danger"><i class="bi bi-arrow-bar-left"></i> Quitar del proyecto</button>
      <table class="table">
        <thead>
          <tr>
            <td>Check</td>
            <td>#</td>
            <td>Login</td>
            <td>Nombre</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of paricipacion">
            <td><input [checked]="usuario.check" (click)="checked(usuario.id)" type="checkbox" name="" id="" /></td>
            <td>{{ usuario.usuario?.id }}</td>
            <td>{{ usuario.usuario?.login }}</td>
            <td>{{ usuario.usuario?.firstName + ' ' + usuario.usuario?.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
