<div>
  <div>
    <span> <em class="bi bi-arrow-left"></em> <a (click)="previousState()">Atras</a> </span> <em class="bi bi-chevron-right"></em>
    <span>Administrar Usuarios</span>
  </div>
  <hr />
  <div class="row mb-4">
    <div class="col-md-3 col-sm-12">
      <span class="fs-4 align-self-start">Administrar Usuarios </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h5>Todos los usuarios</h5>
      <button (click)="agregarUsuarios()" class="btn btn-primary">Incluir al proyecto <em class="bi bi-arrow-bar-right"></em></button>
      <table class="table" aria-describedby="todos los usuarios">
        <thead>
          <tr>
            <th>Check</th>
            <th>#</th>
            <th>Login</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td><input [checked]="usuario.check" (click)="checked2(usuario.id)" type="checkbox" name="" id="" /></td>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.login }}</td>
            <td>{{ usuario.firstName + ' ' + usuario.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h5>Usuarios en el Proyecto</h5>
      <button (click)="quitarUsuarios()" class="btn btn-danger"><em class="bi bi-arrow-bar-left"></em> Quitar del proyecto</button>
      <table class="table" aria-describedby="usuarios en proyecto">
        <thead>
          <tr>
            <th>Check</th>
            <th>#</th>
            <th>Login</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of paricipacion">
            <td><input [checked]="usuario.check" (click)="checked(usuario.id)" type="checkbox" name="" id="" /></td>
            <td>{{ usuario.usuario?.id }}</td>
            <td>{{ usuario.usuario?.login }}</td>
            <td>{{ usuario.usuario?.firstName + ' ' + usuario.usuario?.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
