<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>¡Bienvenido, Java Hipster!</span> (G 4 D)</h1>

    <p class="lead">Esta es su página de inicio</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Está conectado como "{{ account.login }}".</span>
        <Button class="btn btn-primary" [routerLink]="'proyecto/mis-proyectos'"> Ver mis Proyectos </Button>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Si desea </span>
        <a class="alert-link" (click)="login()">iniciar sesión</a
        ><span
          >, puede intentar con las cuentas predeterminadas:<br />- Administrador (usuario="admin" y contraseña="admin") <br />- Usuario
          (usuario="user" y contraseña="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>¿Aún no tienes una cuenta?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Crea una cuenta</a>
      </div>
    </div>
  </div>
</div>
