<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="permiso">
      <h2 data-cy="permisoDetailsHeading"><span>Permiso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ permiso.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ permiso.nombre }}</span>
        </dd>
        <dt><span>Rol</span></dt>
        <dd>
          <div *ngIf="permiso.rol">
            <a [routerLink]="['/rol', permiso.rol.id, 'view']">{{ permiso.rol.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/permiso', permiso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
