:root {
  --color-principal: #428fdc;
  --color-principal-hover: #51a7fd;
}

/*  ------------------------  */
//  ESTRUCTURAS
/*  ------------------------  */
body {
  background-color: #1f1e24;
}

.footer {
  color: rgb(97, 97, 97);
}

/*  ------------------------  */
//  BOTONES
/*  ------------------------  */

.btn-primary {
  background-color: var(--color-principal);
}

.btn-primary:hover {
  background-color: var(--color-principal-hover);
}

.btn-info {
  background-color: #333238;
  border: 1px solid rgb(105, 105, 105);
}

.btn-info:hover {
  background-color: #333238;
  border: 1px solid #f57f6c;
}

.btn-secondary {
  background-color: #333238;
  border: 1px solid rgb(105, 105, 105);
}

.btn-secondary:hover {
  background-color: #333238;
  border: 1px solid #f57f6c;
}

.btn-warning {
  background-color: #ec5941;
  border: 1px solid #f57f6c;
}

.btn-warning:hover {
  background-color: #f57f6c;
  border: 1px solid #f57f6c;
}

/*  ------------------------  */
//  NAVBAR
/*  ------------------------  */
jhi-navbar {
  background-color: #29282d;
}

/*  ------------------------  */
//  CARDS
/*  ------------------------  */
.card {
  background-color: #33323800;
  border-radius: 0px;
  border: #434248 1px solid;
  margin-bottom: 32px;
  padding: 16px;
}

.card .transparente {
  background-color: #33323800;
}

/*  ------------------------  */
//  TABLAS
/*  ------------------------  */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #033464;
}

.table-list {
  border: white solid 1px;
}

/*  ------------------------  */
//  Inputs
/*  ------------------------  */

//#333238

.form-control:disabled {
  background-color: #444444;
}

.form-control {
  background-color: #333238 !important;
  border: #7a7a7a solid 1px;
  color: white !important ;
}

input:focus {
  background-color: #333238 !important;
  border: #7a7a7a solid 1px !important;
  box-shadow: inset 0 0 0 1px #ececef, 0 0 0 1px #333238, 0 0 0 3px #1f75cb !important;
  color: white !important;
}

option {
  color: white;
}

/*  ------------------------  */
//  Badge
/*  ------------------------  */

.bg-badge-primario {
  background-color: #0d532a;
}

.bg-badge-secundario {
  background-color: #074888;
}

.bg-badge-gris {
  background-color: #474747;
}

/*  ------------------------  */
//  Badge
/*  ------------------------  */

.pl-3 {
  padding-left: 0.3em;
}
