<div class="border rounded border-secondary mb-3">
  <div class="p-1 bg-secondary bg-opacity-10 rounded-top">
    <div class="pl-3">Etiquetas <i class="bi bi-tag"></i> {{ etiquetas?.length ?? '0' }}</div>
  </div>
  <table class="table mb-0">
    <tbody>
      <tr>
        <td>
          <div
            *ngFor="let etiqueta of etiquetas; let last = last"
            class="badge rounded-pill {{ !last ? 'mr-2' : '' }}"
            [style.backgroundColor]="etiqueta.color"
            [style.color]="etiqueta.contrasteColor"
          >
            {{ etiqueta.nombre }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--
  propiedad permite agreagar estilos reactivos
  [ngStyle]="{ 'marginRight': last ? '0' : '.4em' }"
-->
