<div class="border rounded border-secondary mb-3">
  <div class="p-1 bg-secondary bg-opacity-10 rounded-top">
    <div class="pl-3 d-flex">Etiquetas <i class="bi bi-tag mx-1"></i> {{ etiquetas?.length ?? '0' }}</div>
  </div>
  <table class="table mb-0">
    <tbody>
      <tr>
        <td>
          <div
            *ngFor="let etiqueta of etiquetas; let last = last"
            class="badge rounded-pill {{ !last ? 'mr-2' : '' }}"
            [style.backgroundColor]="etiqueta.color"
            [style.color]="etiqueta.contrasteColor"
          >
            {{ etiqueta.nombre }} <a (click)="delete(etiqueta)" *jhiHasAnyAuthority="['ROLE_ADMIN']"><i class="bi bi-trash3-fill"></i></a>
          </div>
          <a routerLink="/etiqueta/new/funcionalidad/1" *jhiHasAnyAuthority="['ROLE_ADMIN']" class="badge rounded-pill borde-sin-fondo">
            <i class="bi bi-plus-lg"></i> Nueva Etiqueta
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
